spring:
  datasource:
    name: MonkeyDocDB
    url: jdbc:mysql://106.54.101.125:3306/MonkeyDocDB?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: monkeydoc123
    driver-class-name: com.mysql.jdbc.Driver
    thymeleaf:
      prefix: classpath:/templates/
      mode: HTML
      cache: false
      encoding: UTF-8
      servlet:
        content-type: text/html
  application:
    name: service-provider
server:
  port: 8081
eureka:
  client:
    serviceUrl:
      defaultZone: http://www.liadrinz.cn:8081/eureka/
    instance:
      lease-renewal-interval-in-seconds: 10
      register-with-eureka: true
      hostname: 175.24.78.181
feign:
  httpclient:
    enabled: false
    connection-timeout: 3000
  okhttp:
    enabled: true
  hystrix:
    enabled: true

mybatis:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.monkeydoc.Bean

